@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
body
	font-family: Ubuntu
a:hover
	color: green
.top
	padding-bottom: 16px
	background: #ededed url(../img/top.png) center 0 no-repeat
.top_menu
	ul
		padding: 0
		margin: 0
	li
		display: inline-block
		margin-left: -5px
		&:first-child
			margin-left: 0px
		a
			padding: 22px 35px
			display: block
			color: #000
			transition: .2s all
			text-decoration: none
			text-transform: uppercase
			font-size: 14px
			font-weight: 500
			position: relative
			&:hover
				background: #6aa90b
				color: white
			&:focus
				background: darken(#6aa90b,5%)
				color: white
			&:after
				content: ""
				display: block
				position: absolute
				height: 19px
				border-right: 1px dotted #000
				right: 0px
				top: 23px
			&:hover:after
				display: none
.logo
	margin-top: 33px
	display: block
.lang
	position: absolute
	left: 227px
	top: 13px
	padding: 0
	margin: 0
	li
		display: inline-block
		padding: 1px
		vertical-align: top
		border: 1px solid transparent
		&.active
			border: 1px solid #6aa90b
		&:hover
			border: 1px solid #fff
		&:focus
			border: 1px solid darken(#fff,15%)
		a,img
			display: block
.top-contacts
	color: #4e4e4e
	line-height: 29px
	margin-top: 60px
.top-contacts__phone
	font-size: 24px
.top-contacts__mail
	font-size: 16px
.top-contacts span,.icon
	display: inline-block
	vertical-align: middle
.icon
	margin-right: 10px
.icon-phone
	background: url("../img/icon-phone.png") no-repeat center
	width: 19px
	height: 21px

.icon-mail
	background: url("../img/icon-mail.png")
	width: 19px
	height: 15px

.icon-basket
	background: url("../img/icon-basket.png")
	width: 31px
	height: 29px
.icon-user
	background: url("../img/icon-user.png")
	width: 11px
	height: 10px
.top-basket
	width: 100%
	height: 79px
	background: #f5f5f5
	padding: 0 24px
	font-weight: 300
	font-size: 14px
	padding-top: 10px
	div
		margin-top: 10px
	span
		font-weight: 500
	a
		display: inline-block
		vertical-align: middle
		width: 136px
		height: 28px
		@include linear-gradient(radial,#81bb0d, #74b10e)
		color: #fff
		text-align: center
		text-decoration: none
		font-size: 12px
		font-weight: 500
		line-height: 25px
		position: relative
		&:hover
			@include linear-gradient(radial,darken(#81bb0d,5%), darken(#74b10e,5%))
		&:focus
			@include linear-gradient(radial,darken(#81bb0d,10%), darken(#74b10e,10%))
		&:after
			border: 14px solid transparent
			border-left: 12px solid #f4f4f5
			content: ""
			display: block
			position: absolute
			left: 0
			top: 0
.user
	font-size: 14px
	color: #4e4e4e
	position: absolute
	text-decoration: none
	right: 42px
	top: 11px
.toggle-menu
	width: 30px
	cursor: pointer
	margin: 20px 20px 0 0
	transition: .2s all
	span
		height: 2px
		width: 100%
		background: #000
		display: block
		margin-bottom: 7px
	&.active
		margin-top: 25px
		transition: 0s all
		span
			transition: .2s all
		span:first-child
			transform: rotate(45deg)
		span:nth-child(2)
			opacity: 0
		span:last-child
			transform: rotate(-45deg) translateY(-13px) translateX(13px)
.main-slider
	.item
		height: 452px
		background-position: center
.owl-nav
	position: absolute
	top: 50%
	width: 100%
	height: 68px
	div
		font-size: 0
		width: 43px
		height: 100%
		margin-top: -34px
		position: absolute
		transition: .2s transform
		&:hover
			transform: scale(1.2)
	.owl-prev
		left: 10%
		background-image: url(../img/prev.png)
	.owl-next
		right: 10%
		background-image: url(../img/next.png)
.popular-items
	.col-lg-12 a
		color: #6aa90b
		font-size: 16px
		text-decoration: underline
		margin-top: 40px
		&:hover
			text-decoration: none
.popular-items__container
	border-top: 1px solid #ededed
	border-bottom: 1px solid #ededed
.popular-item
	padding-bottom: 48px
	img
		display: block
		margin: 0 auto
.popular-item__title
	color: #616161
	font-size: 18px
	display: block
	padding-bottom: 10px
	text-align: center
.popular-item__price
	font-size: 20px
	font-weight: bold
	color: #6aa90b
.popular-item__button
	font-size: 16px
	color: #fff !important
	text-decoration: none !important
	background: #79b224
	padding: 6px 8px
	&:hover
		background: darken(#79b224,5%)
	&:focus
		background: darken(#79b224,5%)

h3
	color: #4e4e4e
	font-size: 28px
.about-us
	padding-bottom: 20px
.about-us__item
	margin-top: 20px
	img,.about-us__item__inner
		display: inline-block
		vertical-align: top
	img
		width: 10%
		margin-right: 4%
	.about-us__item__inner
		width: 80%
	h4
		margin: 0
		font-size: 20px
		font-weight: bold
		color: #6aa90b
		position: relative
		&:after
			position: absolute
			content: ""
			width: 45px
			left: 0
			bottom: -13px
			border-bottom: 1px solid rgba(97,97,97,0.33)

	p
		font-size: 14px
		color: #616161
		margin-top: 30px
.production
	padding-top: 25px
	background: #f5f5f5
	h2
		font-size: 28px
		color: #4e4e4e
		position: relative
		text-align: center
		&:after
			position: absolute
			content: ""
			width: 45px
			left: 50%
			margin-left: -22.5px
			bottom: -13px
			border-bottom: 1px solid rgba(97,97,97,0.33)
	p
		color: #616161
		font-size: 18px
		font-weight: 300
.center
	text-align: center
.btn-green
	border: 0
	outline: 0
	font-size: 16px
	color: #fff !important
	font-weight: 500
	padding: 9px 32px
	margin: 20px 0 40px 0
	text-align: center
	display: inline-block
	background: #6aa90b
	text-decoration: none !important
	&:hover
		background: darken(#6aa90b,5%)
	&:focus
		background: darken(#6aa90b,10%)
.contact-us
	background: url(../img/contact-us.jpg)
	h3
		color: #fff
		text-align: center
	label
		display: block
		font-size: 16px
		color: #4e4e4e
		margin-bottom: 6px
	input,textarea
		display: block
		width: 100%
		border: 0
		outline: 0
		height: 38px
		margin-bottom: 10px
	textarea
		height: 117px
		resize: none
	form
		max-width: 717px
		margin: 0 auto
//ALWAYS END
@import "media"
